
fastapi
uvicorn
python-multipart
sqlalchemy
langchain
langchain_openai
langchain_community
faiss-cpu
python-dotenv
pydantic

Flask
Werkzeug
python-dotenv
langchain
langchain-openai
langchain-community
openai
faiss-cpu
PyPDF2
pandas
tiktoken
flask-cors

